<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{{ bodyClass|default('') }}">
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>


        <script type="text/javascript" src="/assets/vendor.min.js"></script>
        <script type="text/javascript" src="/assets/app.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
