*{
	margin:0;
	padding:0;
}

.ui.main-header{
	border-bottom:1px solid #e1e1e1!important;
	a.item.logo{
	    font-weight: bold;
	    font-size: 20px;
	    color:#3578bf;
	}
	.toc.item{
		display:none;
	} 
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"]{
    padding:1em 2em!important;
}

main.ui.main.container{
	min-height:600px;
}
.p20{
	padding:20px;
}
.button.connect{
    margin-left:15px!important;
}
body:not(.app-home) .ui.inverted.button.connect{
	box-shadow:0px 0px 0px 2px #3578bf inset !important;
	color:#3578bf;
}

.footer{
	background:#040404!important;
	padding-top:35px!important;
	i.icon{
		font-size:1.5em!important;
	}
}