{% extends '_layouts/base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('register_review') }}" role="button">Publicar Incidencia </a></p>
    </div>

    <h3>Ultimas Incidencias </h3>
    <hr class="separator">
    <div class="list-categories">
        <div class="row">
            <div class="well">Aun no se han registrado incidencias</div>
        </div>
    </div>

    <h3>Categorias </h3>
    <span>Listado de categorias destacadas en <b>Redforma</b></span>
    <hr class="separator">
    <div class="list-categories">
        <div class="row">
            {% for category in categories %}
                <div class="col-sm-2 col-md-2">
                    <div class="thumbnail">
                        <img src="http://lorempixel.com/170/80/?time={{ category.id }}" alt="...">
                        <div class="caption">
                            <h4>{{ category.name }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <h3>Empresas </h3>
    <span>Listado de empresas destacadas en <b>Redforma</b></span>
    <hr class="separator">
    <div class="list-categories">
        <div class="row"></div>
    </div>

{% endblock %}