{% extends '_layouts/base.html.twig' %}

{% set bodyClass = 'app-connect' %}

{% block body %}
    <main class=" user-connect">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui image header">
              <i class="talk outline icon"></i>
              <div class="content">
                Redforma
              </div>
            </h2>
            <form class="ui large form" method="post">
              <div class="ui noborder segment">
                <h1>Registrate</h1>
                <div class="ui error message"></div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="name" placeholder="Nombres">
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="email" name="email" placeholder="Correo Electrónico">
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" name="password" placeholder="Contraseña">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" name="password2" placeholder="Contraseña denuevo">
                    </div>
                  </div>
                </div>
                <div class="ui fluid large green submit button">Registrar</div>
                <div class="ui lostpassword">
                    <a href="">Olvidé mi contraseña?</a>
                </div>
              </div>

            </form>

            <div class="ui transparent message">
              Ya tienes una cuenta? <a href="/user/connect">Inicia Sesión</a>
            </div>
          </div>
        </div>
    </main>
{% endblock %}
