<a class="toc item">
  <i class="sidebar icon"></i>
</a>
<a class="item logo" href="/">
    <i class="talk outline icon"></i>
    Redforma
</a>

<div class="right item">
    <a class="active item">Inicio</a>
    <a class="item">Reclamos</a>
    <a class="item" href="{{ path('companies') }}">Empresas</a>
    {% if auth.hasIdentity() %}
        <a class="ui inverted button connect" href="{{ path('logout') }}">Salir</a>
    {%  else %}
        <a class="ui inverted button connect" href="{{ path('login') }}">Entrar</a>
    {% endif %}
</div>