<a class="toc item">
  <i class="sidebar icon"></i>
</a>
<a class="item logo" href="/">
    <i class="talk outline icon"></i>
    algo
</a>

<div class="right item">
    <a class="active item">Inicio</a>
    <a class="item">Reclamos</a>
    <a class="item">Empresas</a>
  <a class="ui inverted button connect" href="/user/connect">Conectar</a>
</div>